@tailwind base;
@tailwind components;
@tailwind utilities;

.bar-circle {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin-right: 1em;
}

.circle {
	width: 6px;
	height: 6px;
	background: rgb(64, 180, 255);
	border-radius: 50%;
	margin-bottom: -6px;
}

.bar {
	width: 3px;
	height: 100%;
	background: rgb(64, 180, 255);
	border-radius: 10px;
}

.back {
	top: 0;
	height: 100%;
	width: 100%;/*0e0b16 a239ca 4717f6 e7dfdd*/
	position: absolute;
background-image: conic-gradient(#0c0524cc   0%, #ffffff  23%,#333236cc  23.2%, #212024cc   73%, #ffffff  73.2%, #ffffff 100%);
background-position:  40% 62%;
background-size: 200% 200%;
}

.porfile-img{
	box-shadow:  5px 5px 14px #777777,
             -5px -5px 14px #ffffff;
	object-fit: cover;
	border: 2px solid white;
}